services:
  snort:
    build: ./snort
    container_name: snort
    tty: true
    volumes:
      - ./shared:/shared
    networks:
      labnet:
        ipv4_address: 172.20.0.10

  attacker:
    build: ./attacker
    container_name: attacker
    tty: true
    volumes:
      - ./shared:/shared
    networks:
      labnet:
        ipv4_address: __ATTACKER_IP__

networks:
  labnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
